.chat-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .chat-container {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .message {
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 80%;
  }
  
  .user-message {
    justify-content: flex-end;
  }
  
  .other-message {
    justify-content: flex-start;
  }
  
  .message-text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px;
    background-color: #f2f2f2;
  }
  
  .message-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message-text {
    font-size: 16px;
  }
  
  .message-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    font-size: 16px;
  }
  
  .send-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .send-button-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: invert(100%);
  }