.chat-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  
  .messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .message {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
  .user-message {
    justify-content: flex-end;
  }
  
  .other-message {
    justify-content: flex-start;
  }
  
  .message-row-container {
    display: flex;
    flex-direction: column;
  }
  
  .message-data-container {
    display: flex;
    flex-direction: column;
  }

  .user-message .message-data-container {
    align-items: end;
  }
  .other-message .message-data-container {
    align-items: start;
  }

  .message-box {
    display: flow;
    padding: 10px 16px;
    border-radius: 50px;
  }

  .user-message .message-box {
    align-items: end;
    background-color: #f2f2f2;
    align-items: end;
    border-bottom-right-radius: 0px;
  }

  .other-message .message-box {
    align-items: start;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 0px;
    align-items: start;
  }

  .user-message.same-time .message-box{
    border-bottom-right-radius: 25px;
  }

  .other-message.same-time .message-box{
    border-bottom-left-radius: 25px;
  }


  .message.user-message.same-time + .message.user-message .message-box{
    border-top-right-radius: 25px;
  }
  
  .message.other-message.same-time + .message.other-message .message-box{
    border-top-left-radius: 25px;
  }

  .message-author {
    font-weight: bold;
    font-size: 12px;
  }

  .message-text {
    font-size: 14px;
  }
  
  .message-date {
    font-size: 12px;
    color: #aaa;
    padding: 0px 5px;
  }

  .message-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
  
  .message-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .send-button {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .send-button-image {
    width: 23px;
    height: 23px;
    object-fit: contain;
    filter: invert(100%);
  }

  .send-button-image:hover {
    filter: brightness(90%);
  }

  .divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
  }

  .messages-container.new-messages .message {
    opacity: 0;
    transform: translateY(10px);
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .context-menu {
    position: absolute;
    z-index: 999;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 6px 0;
    width: 120px;
  }
  
  .context-menu button {
    background-color: transparent;
    border: none;
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 10px;
    padding: 4px 10px;
    text-align: left;
    width: 100%;
  }
  
  .context-menu button:hover {
    background-color: #f7f7f7;
  }

  .context-menu-icon {
    margin-right: 10px;
  }


  .edit-message-form {
    position: absolute;
    z-index: 999;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 6px 0;
    width: 300px;
  }
  
  .edit-message-buttons-container {
    display: flex;
    justify-content: space-around;
  }

  .edit-message-form button[type="submit"],
  .edit-message-form button[type="button"] {
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
  }
  
  .edit-message-form button[type="submit"]:hover,
  .edit-message-form button[type="button"]:hover {
    background-color: #555555;
    color: white;
  }


