.messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
  }
  
  .message {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
  .user-message {
    justify-content: flex-end;
  }
  
  .other-message {
    justify-content: flex-start;
  }
  
  .message-row-container {
    display: flex;
    flex-direction: column;
  }
  
  .message-data-container {
    display: flex;
    flex-direction: column;
  }

  .user-message .message-data-container {
    align-items: end;
  }
  .other-message .message-data-container {
    align-items: start;
  }

  .message-box {
    cursor: default;
    display: flow;
    padding: 10px 16px;
    border-radius: 50px;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .multi-line .message-box{
    border-radius: 15px;
  }

  .user-message .message-box {
    align-items: end;
    background-color: #f2f2f2;
    align-items: end;
    border-bottom-right-radius: 0px;
    border: 1px solid #f2f2f2;
  }

  .other-message .message-box {
    align-items: start;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 0px;
    align-items: start;
  }

  .user-message.same-time .message-box{
    border-bottom-right-radius: 25px;
  }

  .other-message.same-time .message-box{
    border-bottom-left-radius: 25px;
  }

  .message.user-message.same-time + .message.user-message .message-box{
    border-top-right-radius: 25px;
  }
  
  .message.other-message.same-time + .message.other-message .message-box{
    border-top-left-radius: 25px;
  }

  .user-message.same-time.multi-line .message-box{
    border-bottom-right-radius: 15px;
  }

  .other-message.same-time.multi-line .message-box{
    border-bottom-left-radius: 15px;
  }

  .message-author {
    font-weight: bold;
    font-size: 12px;
  }

  .message-text {
    font-size: 14px;
  }
  
  .message-date {
    font-size: 12px;
    color: #aaa;
    padding: 0px 5px;
  }

  .selected .message-box{
    background-color: #e2e2e2;
    border: 1px solid #8a8a8a;
  }