.message-input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.send-message-button {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send-message-button-image {
    width: 23px;
    height: 23px;
    object-fit: contain;
    filter: invert(100%);
}

.send-message-button-image:hover {
    filter: brightness(90%);
}

.editing-message-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .editing-message-text {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .editing-message-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
  }
  .editing-message-cancel-button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #b5b5b5;
    margin-left: auto;
    margin-right: 10px;
  }

  .MuiInputBase-inputMultiline {
    transition: all 0.2s ease-in-out;
  }